---
import styles from "@/styles/headerRRSS.module.css";
---

<div class={`${styles.hdDiv}`}>
  <i class={`fab fa-facebook-f ${styles.rrssIcon}`}></i>
  <i class={`fab fa-twitter ${styles.rrssIcon}`}></i>
  <i class={`fab fa-instagram ${styles.rrssIcon}`}></i>
  <i class={`fab fa-youtube ${styles.rrssIcon}`}></i>
</div>
