---
import styles from "@/styles/headerRRSS.module.css";
---

<div class={`${styles.hdDiv}`}>
  <a href="https://www.facebook.com/profile.php?id=61553702342606" target="_blank" rel="noopener noreferrer">
    <i class={`fab fa-facebook-f ${styles.rrssIcon}`}></i>
  </a>
  <a href="https://twitter.com/bastayamontevi1/" target="_blank" rel="noopener noreferrer">
    <i class={`fab fa-twitter ${styles.rrssIcon}`}></i>
  </a>
  <a href="https://www.instagram.com/partidobastaya.uy/" target="_blank" rel="noopener noreferrer">
    <i class={`fab fa-instagram ${styles.rrssIcon}`}></i>
  </a>
  <a href="https://www.youtube.com/@LaVerdadDeLaMilanesa" target="_blank" rel="noopener noreferrer">
    <i class={`fab fa-youtube ${styles.rrssIcon}`}></i>
  </a>
</div>

