---
import { Image } from "astro:assets";
import Logo from "@/assets/images/logo.png";
import styles from "@/styles/footer.module.css";
let currentYear = new Date().getFullYear();
---

<footer class={`${styles.footerBG} mt-4 mb-0`}>
  <div class="container py-4">
    <div class="row justify-content-center text-center">
      <div class="col-12 mb-3">
        <a
          href="https://www.facebook.com/profile.php?id=61553702342606"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={`fab fa-facebook-f ${styles.rrssIcon}`}></i>
        </a>
        <a
          href="https://twitter.com/bastayamontevi1/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={`fab fa-twitter ${styles.rrssIcon}`}></i>
        </a>
        <a
          href="https://www.instagram.com/partidobastaya.uy/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={`fab fa-instagram ${styles.rrssIcon}`}></i>
        </a>
        <a
          href="https://www.youtube.com/@LaVerdadDeLaMilanesa"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={`fab fa-youtube ${styles.rrssIcon}`}></i>
        </a>
      </div>
    </div>
    <hr class="border-top border-2" />
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <ul
          class="list-unstyled d-flex flex-wrap justify-content-center mb-6 mb-sm-0"
        >
          <li class="me-4 me-md-6">
            <a href="/privacy" class={`${styles.footerLink}`}>Privacidad</a>
          </li>
          <li class="me-4 me-md-6">
            <a href="/legal" class={`${styles.footerLink}`}>Legal</a>
          </li>
          <li>
            <a href="/info" class={`${styles.footerLink}`}>+Info</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-top border-2" />
    <span class="d-block text-center text-muted"
      >Partido Basta YA! © {currentYear}</span
    >
    <p class="text-center mt-3">
      Powered By: <a
        class="text-decoration-none text-white-50"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.netlify.com/">Netlify</a
      > and <a
        class="text-decoration-none text-white-50"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astro.build/"
        >Astro
      </a>
    </p>
    <p>
      Made with ♡ by: <a
        href="https://www.linkedin.com/in/ramiro-garc%C3%ADa-pereira-a9093519/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none text-white-50">Neby_X</a
      >
    </p>
  </div>
</footer>
